@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	body {
		@apply font-[Montserrat] text-neutral-700;
	}

	h1 {
		@apply text-5xl font-semibold;
	}
	h2 {
		@apply text-4xl font-semibold text-center;
	}
	h3 {
		@apply text-2xl font-semibold;
	}
	h4 {
		@apply text-xl font-semibold;
	}

	img {
		@apply w-full object-cover;
	}
	picture {
		@apply overflow-hidden;
	}

	*,
	:hover {
		@apply transition-all duration-200;
	}

	th {
		@apply font-normal;
	}

	/* th,
	td {
		@apply border;
	} */

	input,
	select,
	textarea {
		@apply outline-none;
	}

	.input {
		@apply px-4 py-2 border border-neutral-300 rounded-lg;
	}

	.dash-input {
		@apply px-4 py-2 bg-neutral-100 rounded-lg;
	}

	.btn {
		@apply px-4 py-2 rounded-lg;
	}

	.btn-login {
		@apply bg-orange-200 p-5 rounded-full font-semibold text-xl  md:text-2xl   hover:bg-orange-300  hover:shadow-xl;
	}

	.label-createAccount {
		@apply mx-0 text-neutral-500 text-xl flex flex-col font-semibold;
	}

	.input-createAccount {
		@apply bg-white border-b border-neutral-200 p-1 font-normal text-lg;
	}

	.product-detail {
		@apply text-sm md:text-xl font-bold text-left;
	}

	.number-button {
		@apply hover:bg-brown hover:text-white hover:border border-gray-400  px-2 rounded-full  w-10 h-10 text-center text-xl font-bold;
	}

	@keyframes openLogin {
		from {
			top: -200px;
		}
		to {
			top: 0px;
		}
	}
}

/* hidden scrollbar */
*::-webkit-scrollbar {
	display: none;
}

html {
	scroll-behavior: smooth;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
